<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale=1.0">
    
    <title>Document</title>
</head>
<body>
    <h2>Connect to Garmin Device</h2>
    <form id="garminJSONFormData" onsubmit="return false">
        <label>Username: <input type="text" id="username" name="username" placeholder="Username / Email" /></label>
        <br/>
        <label>Password: <input type="text" id="password" name="password" placeholder="Password"/></label>
        <br/>
        <label>Start Date: <input type="text" id="garminDataStartDate" name="garminDataStartDate" placeholder="DD/MM/YYYY"/></label>

        <br/>

        <button type="submit">Connect to Garmin API </button>
    </form>


    <script>
        const form = document.getElementById("garminJSONFormData");

        async function logSubmit(event) {
            var formData = new FormData(form);
            for(let [name, value] of formData) {
                alert(`${name} = ${value}`); // key1 = value1, then key2 = value2
            }
            const response = await fetch("/external-wearable",
                {
                    method: "POST",
                    body: formData
                }
            )


            event.preventDefault();
        }

        form.addEventListener("submit", logSubmit)
    </script>
</body>
</html>
